body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color: whitesmoke;
    color: white;
    text-align: center;
    padding: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #0014a8;
}

li {
    float: left;
  }  

 li a {
    display: block;
    margin-right: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #e67e22;
  }

.content {
    padding: 20px;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #f39c12; /* Gold button */
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e67e22; /* Darker gold on hover */
}


footer {
    background-color: #0014a8;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

